@{
    Layout = "_Layout";
}
@model IEnumerable<Teachers>


<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bannermain">
                    <div class="bannerleft">
                        <h3>about us</h3>
                    </div>

                    <div class="bannerright">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><i class="fa-solid fa-angle-right"></i></li>
                            <li><a href="#">about us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="aboutuni">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="uniwrap">
                    <div class="aboutuniheading">
                        <h5>About Our University</h5>
                        <h3>Welcome To University of Education</h3>
                    </div>

                    <div class="aboutuniwriting">

                        <span>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</span>
                        <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
                        <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
                        <a href="#" class="btn-3">Know More</a>

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="aboutuniimg">
                    <div class="uniimage">
                        <img src="~/images/extra-images/abt-thumb.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="countercard">
                    <span><i class="fa-solid fa-user-group"></i></span>
                    <h3>94,532</h3>
                    <h5>FOREIGN FOLLOWERS</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="countercard">
                    <span><i class="fa-solid fa-book"></i></span>
                    <h3>11,223</h3>
                    <h5>CLASSES COMPLETE</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="countercard">
                    <span><i class="fa-solid fa-trophy"></i></span>
                    <h3>282,673</h3>
                    <h5>STUDENTS ENROLLED</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="countercard">
                    <span><i class="fa-solid fa-person-chalkboard"></i></span>
                    <h3>370</h3>
                    <h5>CERTIFIED TEACHERS</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sectionwelcome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcomeabtrightside">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headinabtgwrite">
                                <h3>Welcome To University of Education</h3>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="welcomeabtcart">
                                <div class="welcomeabtwritings">
                                    <span>
                                        <i class="fa-solid fa-globe"></i>
                                    </span>
                                    <h6>BOOKS & LIBRARY</h6>
                                    <p>World Largest books and library center is here where you can study the latest trends of the education.</p>
                                    <a href="#">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="welcomeabtcart">
                                <div class="welcomeabtwritings">
                                    <span>
                                        <i class="fa-solid fa-graduation-cap"></i>
                                    </span>
                                    <h6>BOOKS & LIBRARY</h6>
                                    <p>World Largest books and library center is here where you can study the latest trends of the education.</p>
                                    <a href="#">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="welcomeabtcart">
                                <div class="welcomeabtwritings">
                                    <span>
                                        <i class="fa-solid fa-chalkboard-user"></i>
                                    </span>
                                    <h6>BOOKS & LIBRARY</h6>
                                    <p>World Largest books and library center is here where you can study the latest trends of the education.</p>
                                    <a href="#">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="welcomeabtcart">
                                <div class="welcomeabtwritings">
                                    <span>
                                        <i class="fa-solid fa-earth-europe"></i>
                                    </span>
                                    <h6>BOOKS & LIBRARY</h6>
                                    <p>World Largest books and library center is here where you can study the latest trends of the education.</p>
                                    <a href="#">view more</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="studentssay">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="studentcomment">
                    <div class="studentleft">
                        <div class="studentwritingheading">
                            <h3>What Our Students Says</h3>
                        </div>
                        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <div class="studentwritingmain">

                            <i class="fa-solid fa-quote-right"></i>
                            <a href="#">
                                Roslin Miriyam
                            </a>
                            <span>Regular Student</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="studentimages">
                    <div class="row">
                        <div class="col-md-6 col-sm-3">
                            <a href="#"><img src="~/images/extra-images/student-1.jpg" alt="#" /></a>
                        </div>

                        <div class="col-md-6 col-sm-3">
                            <a href="#"><img src="~/images/extra-images/student-2.jpg" alt="#" /></a>
                        </div>

                        <div class="col-md-6 col-sm-3">
                            <a href="#"><img src="~/images/extra-images/student-3.jpg" alt="#" /></a>
                        </div>
                        <div class="col-md-6 col-sm-3">
                            <a href="#"><img src="~/images/extra-images/student-4.jpg" alt="#" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="facultymember">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="facultymemberheading">
                    <h3>Faculty member</h3>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="facultywrap">
                        <div class="facultycard">
                            <div class="aboutmember">
                                <div class="memberimg">
                                    <img src="~/photouploads/images/@item.TeacherPhoto" alt="">
                                    <div class="memberlinks">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fa-brands fa-google"></i></a>
                                    </div>
                                </div>
                                <div class="memberwritings">
                                    <h6><a href="#">@item.TeacherName</a></h6>
                                    <b>@item.TeacherLevel</b>
                                    <p>@item.AboutTeacher.HtmlToPlainText().ToEllipse(100)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>