@model ExamsEditCommand

@{
    ViewData["Title"] = "Edit";
}


@section css {
    <style>
        .ck-content {
            min-height: 250px;
        }

        .photo-viewer {
            width: 200px;
            height: 100px;
            background-position: center;
            background-size: cover;
            object-fit: cover;
            background-image: url('/photouploads/images/file-uploads1.jpg');
            cursor: pointer;
        }

        #file {
            display: none;
        }

        .ixtisas {
            background-color: transparent;
            color: white;
            border-radius: 4px;
            min-height: 38px;
        }

            .ixtisas > option {
                background-color: white;
                color: black;
            }
    </style>
}


<h1>Edit</h1>

<h4>Imtahan redaktesi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group" style="display:flex; flex-direction:column;">
                <label name="FennName" class="control-label">Fenn Secimi</label>
                <select class="control-label ixtisas" name="FennName" asp-for="FennName">

                    @foreach (var item in ViewBag.Fenn)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>


            <div class="form-group" style="display:flex; flex-direction:column;">
                <label name="GroupName" class="control-label">Qrup Secimi</label>
                <select class="control-label ixtisas" name="GroupName" asp-for="GroupName">

                    @foreach (var item in ViewBag.Gruplar)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <label asp-for="BashlamaVaxti" class="control-label"></label>
                <input asp-for="BashlamaVaxti" class="form-control" />
                <span asp-validation-for="BashlamaVaxti" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="BitmeVaxti" class="control-label"></label>
                <input asp-for="BitmeVaxti" class="form-control" />
                <span asp-validation-for="BitmeVaxti" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
